:root{
    --bg-silence: #cacaff;
    --font-menu: Arial, 'Arial Black', serif;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--bg-silence);
}
header>:nth-child(2)::first-letter{
    font-size: calc(1rem + 5px);
}
 header, footer{
    text-align: center;
}
.menuItems li{
    font-family: var(--font-menu)!important;
    padding: 0px 5px;
    border-right: 1px solid black;
}
.menuItems li:nth-child(5){
    border-right: none;
}
.my-name{
    font-size: calc(1rem + 5px);
    color:rgba(56, 28, 28, 0.822);
}
.my-features{
    display: inline-block;
    padding:0px 3px;
    text-decoration: underline;
    color: rgb(116, 116, 29);
}

a{
    text-decoration: none!important;
}
a:hover{
    text-decoration: underline!important;
}
header nav ul li, footer ul li{
    list-style-type: none;
    display: inline-block;
}
main{
    margin:15px;
}
main>h2:nth-of-type(n){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#imgMood{
    text-align: center;
}
main #imgMood .parent{
    position: relative;
    margin:0;
    padding: 0;
    
}

.img-responsive{
    display: inline-block;
    
    margin: 0 auto;
    width:49%;
    height: 500px;
}
.img-text{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
    position: absolute;
    left:0%;
    top:-483px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.parent:hover .img-text{
    display: inline-block;
    margin:0;
    width: 100%;
    height: 500px;
    
}
footer{
    margin: 0;
    background-color: dimgray;
    padding: 5px 15px 20px;
    color: #fff;
    
}
footer h5{
    margin:0;
    padding:5px;
}